<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WebPush通知登録</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <script type="application/javascript" src="/registration.js" defer></script>
  <script type="application/javascript" src="/animation.js" defer></script>
  <script type="application/javascript" src="/background.js" defer></script>

  <link rel="stylesheet" href="/registration.css">
</head>

<body>
  <div id="particles-js" class="outer">
    <div class="inner">
      <div class="text">ボタンを押下すると通知の登録を行います</div>
      <ol class="procedure">
        <li>登録ボタンを押下</li>
        <li>ブラウザの通知権限を許可</li>
        <li>「OK」が表示されることを確認</li>
        <li>登録URLを取得したサーバーの<br>ボイスチャンネルに参加してみよう！</li>
      </ol>
      <br>
      <div id="registration_button">
        <a href="#">通知登録</a>
      </div>
      <br>
      <div id="unsubscribe">
        <a href="#">通知登録の解除</a>
      </div>
    </div>
    <div id="success" class="result-dialog">
      <img src="/ok.png">
      <br>
      <span>OK</span>
    </div>
    <div id="failed" class="result-dialog">
      <img src="/ng.png">
      <br>
      <span>NG</span>
    </div>
  </div>
</body>

</html>